<div class="PlanListItem">
  <template v-if="name">
    <p class="name">
      {{ name }}
    </p>
    <p v-for="(feature, index) in features" :key="index" class="feature">
      {{ feature }}
    </p>
    <p class="condition">
      {{ condition }}
    </p>
  </template>
  <div v-else class="next">
    <p>
      Más
      <br /> Adelante
    </p>
  </div>
  <button :class="name ? 'secondary' : 'grey'">
    {{ name ? 'Accede ahora' : '¡Proximamente!' }}
    <g-image src="~/assets/icons/arrow-right.svg" alt="Obtener" class="icon-right" />
  </button>
</div>