.PlanListItem {
  position: relative;
  display: flex !important;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  max-width: 230px;
  min-width: 230px;
  min-height: 330px;
  padding: 2rem 1.5rem;
  margin-bottom: 25px;
  text-align: center;
  background-color: $white;

  &:not(:last-child) {
    margin-right: 1rem;
  }

  .name {
    max-width: 200px;
    // line-height: 68px;
    color: $black;
    font-size: 21px;
    font-weight: 600;
  }

  .feature {
    font-size: 14px;
    color: $black;
    letter-spacing: 0.7px;
  }

  .condition {
    font-size: 12px;
    color: $grey4;
    letter-spacing: 0.6px;
  }

  .next {
    margin: auto;
    color: $grey2;
    font-size: 32px;
    font-weight: 600;
  }

  button {
    position: absolute;
    top: 100%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: max-content;
    letter-spacing: 0.8px;
  }

  @media (min-width: 768px) {
    max-width: 260px;
    min-width: 260px;

    .name {
      font-size: 23px;
    }
  }
}