.Programs {
  &-page-background {
    &-list {
      display: flex;
      align-items: center;
      margin-top: 0.5rem;

      &-item {
        padding: 0.5rem;
        font-size: 14px;
        font-weight: 500;
        color: $white;
        cursor: pointer;
        transition: all ease-in-out 100ms;

        &.yellow, &:hover {
          background-color: $primary;
          color: $black;
        }
      }

      &-divider {
        width: 2px;
        height: 24px;
        margin: 0 1rem;
        background-color: $white;
      }
    }
  }
}