<footer class="TheFooter">
  <div class="container">
    <div class="TheFooter-box trainer">
      <div class="TheFooter-box-info">
        <g-link to="/" class="TheFooter-box-info-text-name">
          Jesús Lezama TRX
        </g-link>
        <p class="TheFooter-box-info-text-description">
          Our hotel is an image of quality and
          profesionalism combined with hard work and precision.
          You can expect only the best services from our staff.
        </p>
      </div>
      <a href="https://www.instagram.com/jesuslezamatrx/" target="_blank" rel="noopener noreferrer" class="mr-3">
        <g-image src="~/assets/icons/instagram.svg"  alt="Instagram" />
      </a>
      <a href="#" target="_blank" rel="noopener noreferrer">
        <g-image src="~/assets/icons/facebook.svg" alt="Facebook" />
      </a>
    </div>
    <div class="TheFooter-box menu">
      <p class="TheFooter-box-title">Menú</p>
      <ul class="TheFooter-box-list">
        <li class="TheFooter-box-list-item">
          <g-link to="/programs" class="link">Programa</g-link>
        </li>
        <li class="TheFooter-box-list-item">
          <g-link to="/" class="link">Planes</g-link>
        </li>
        <li class="TheFooter-box-list-item">
          <g-link to="/contact" class="link">Encuentranos</g-link>
        </li>
      </ul>
    </div>
    <div class="TheFooter-box contact">
      <p class="TheFooter-box-title">Contact Info</p>
      <ul class="TheFooter-box-list">
        <li class="TheFooter-box-list-item">
          <g-image class="icon" src="~/assets/icons/mail.svg" alt="Correo" />
          <p class="text">example@yahoo.com</p>
        </li>
        <li class="TheFooter-box-list-item">
          <g-image class="icon" src="~/assets/icons/phone.svg" alt="Teléfono" />
          <p class="text">+0 320 422 4254</p>
        </li>
        <li class="TheFooter-box-list-item">
          <g-image class="icon" src="~/assets/icons/map-pin.svg"  alt="Dirección"/>
          <p class="text">Av. El ejercito Miraflores, Lima, Perú</p>
        </li>
      </ul>
    </div>
  </div>
  <div class="TheFooter-copyright">
    <div class="TheFooter-copyright-wrapper container">
      <g-link to="/" class="TheFooter-copyright-url">www.jesuslezamatrx.com</g-link>
      <p class="TheFooter-copyright-rights">
        Copyright ©2020 All rights reserved | Web made by <span>Ruls Studio</span>
      </p>
    </div>
  </div>
</footer>