.Contact {

  &-content {
    .container {
      padding-top: 0;
    }
  }

  &-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    text-align: center;

    &-item {
      display: flex;
      text-align: left;
      width: 100%;
      max-width: 362px;
      margin: 2rem auto;

      &-image {
        margin-right: 1.5rem;
      }

      &-name {
        margin-bottom: 0.25rem;
        font-size: 18px;
        font-weight: 600;
      }

      &-text {
        color: $grey;
        font-size: 14px;
        font-weight: 500;
      }
    }
  }

  &-map {
    height: 250px;
    background-image: url('~@/assets/images/map.jpg');
    background-repeat: no-repeat;
    background-size: cover;
  }

  &-title {
    margin-top: 3rem;
    margin-bottom: 2rem;
  }

  &-form {
    &-control {
      margin-bottom: 1rem;
    }

    &-button {
      width: 100%;
      max-width: 352px;
      margin-top: 1rem;
      margin-left: auto;
      margin-right: auto;
    }
  }

  @media (min-width: 1024px) {

    &-content {
      .container {
        padding-top: 3rem;
      }
    }

    &-location {
      display: flex;
    }  

    &-map {
      width: 100%;
      height: 411px;
    }

    &-form {
      display: grid;
      grid-template-columns: 2fr 1fr;
      grid-template-rows: repeat(4, 60px);
      gap: 1rem;

      &-control, &-button {
        margin: 0;
      }

      &-button {
        max-width: none;
      }

      &-control {
        &:last-of-type {
          grid-column: 1;
          grid-row: 1 / -1;
        }
      }
    }
    
  }
}