.Home {
  &-hero {
    position: relative;
    background-image: url('~@/assets/images/hero.jpg');

    &-slider {
      &-item {
        position: relative;
        z-index: 2;
        display: flex;
        flex-direction: column;
        justify-content: center;
        min-height: 40vh;
        color: $white;

        h3 {
          margin-bottom: 1rem;
          line-height: 1.3;
          font-size: 29px;
          font-weight: 800;
        }

        p {
          font-size: 14px;
        }
      }
    }

    &-newsletter {
      padding: 0;
      background-color: $black;

      &-wrapper {
        background-color: $black;
      }

      &-title {
        margin-bottom: 1rem;
        font-size: 18px;
        font-weight: 800;
        color: $white;
      }

      &-form {
        display: flex;
        align-items: center;

        &-control {
          margin-right: 0.5rem;

          &:first-child {
            display: none;
          }
         
          &-field {
            height: 40px;
          }
          
        }

        &-button {
          height: 40px;
          line-height: 20px;
          font-weight: 600;
          background-color: $primary;
        }
      }
    }
  }

  @media (min-width: 768px) {
    &-hero {

      &-slider {
        &-item {
          h3 {
            font-size: 62px;
          }

          p {
            font-size: 16px;
          }
        }
      }

      &-newsletter {

        &-title {
          font-size: 32px;
        }

        &-form {

          &-control {
            margin-right: 1rem;

            &:first-child {
              display: block;
              max-width: 320px;
            }

            &-field {
              height: 50px;
            }
          }

          &-button {
            min-width: 260px;
            height: 60px;
          }
        }
      }
    }
  }

  @media (min-width: 1024px) {
    &-hero {

      &-slider {
        &-item {
          min-height: 60vh;
          padding-bottom: 10rem;
        }
      }

      &-newsletter {
        position: absolute;
        top: 100%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 100%;
        background-color: transparent;

        &-wrapper {
          position: relative;
          z-index: 3;
          padding-left: 5rem;
          padding-right: 5rem;
        }
      }
    }
  }
}

