.TestimonialsSection {
  position: relative;
  
  .wrapper {
    background-color: $background-light;

    .container {

      .title {
        max-width: 360px;
        margin-bottom: 1.5rem;
      }

      .content {
        position: relative;
        z-index: 2;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;

        .testimonials {
          z-index: 2;
          max-width: 352px;
          padding: 6rem 3rem;

          .testimonial {
            p {
              color: $white;

              &.name {
                font-size: 18px;
                font-weight: 600;
              }

              &.position {
                font-size: 14px;
                font-weight: 600;
                opacity: 0.5;
              }

              &.comment {
                margin-top: 1.5rem;
                font-size: 14px;
                font-weight: 500;
              }
            }

            .people {
              display: flex;
              align-items: center;

              img {
                width: 56px;
                height: 56px;
                border-radius: 50%;
                margin-right: 1rem;
              }
            }
          }

        }

        .description-wrapper {
          max-width: 580px;

          .description {
            margin-bottom: 1rem;
          }
        }

      }

      .background {
        background-image: url('~@/assets/images/testimonials@2x.jpg');
      }
    }

  }



  @media (min-width: 768px) {
    .wrapper {
      .container {
        .title {
          max-width: 540px;
        }
      }
    }
  }

  @media (min-width: 1024px) {
    padding-top: 5rem;
    padding-bottom: 5rem;
    
    .wrapper {
      position: relative;
      padding: 3rem 0;

      .container {
        .content {
          position: static;

          .testimonials {
            padding: 0;

            .testimonial {
              p {
                color: $black;
              }
            }
          }
        }

        .background {
          width: 40%;
        }
      }
    }
  }
}