<section class="TestimonialsSection">
  <div class="wrapper">
    <div class="container">
      <div class="title">
        <h2 class="title-section">{{ title }}</h2>
        <h3 class="subtitle-section">{{ subtitle }}</h3>
      </div>
      <div class="content not-container">
        <div v-if="items" class="testimonials">
          <VueSlickCarousel ref="slider" v-bind="settings" class="slider-custom">
            <div v-for="({ node }) in items" :key="node.id" class="testimonial">
              <div class="people">
                <g-image v-if="node.photo" :src="'http://3.132.165.252:1337' + node.photo.url" :alt="node.name"></g-image>
                <div v-if="node.name">
                  <p class="name">{{ node.name }}</p>
                  <p class="position">{{ node.position }}</p>
                </div>
              </div>
              <p class="comment">{{ node.testimony }}</p>
            </div>
          </VueSlickCarousel>
        </div>
        <div v-else class="description-wrapper">
          <p class="description dark">{{ description }}</p>
          <ul class="list">
            <li v-for="(feature, index) in features" :key="index">
              {{ feature }}
            </li>
          </ul>
        </div>
        <div class="background absolute right">
          <button v-if="items" @click="showPrev" class="slider-prev-custom"></button>
          <button v-if="items" @click="showNext" class="slider-next-custom"></button>
        </div>
      </div>
    </div>
  </div>

</section>