<section class="TestimonialsSection">
  <div class="wrapper">
    <div class="container">
      <div class="title">
        <h2 class="title-section">Testimonials</h2>
        <h3 class="subtitle-section">
          Encuentra la motivación y entrena ahora
        </h3>
      </div>
      <div class="content not-container">
        <div class="testimonials">
          <VueSlickCarousel ref="slider" v-bind="settings" class="slider-custom">
            <div v-for="(testimonial, index) in testimonials" :key="index" class="testimonial">
              <div class="people">
                <g-image :src="testimonial.image" :alt="testimonial.name" width="56" height="56"></g-image>
                <div>
                  <p class="name">{{ testimonial.name }}</p>
                  <p class="position">{{ testimonial.position }}</p>
                </div>
              </div>
              <p class="comment">{{ testimonial.comment }}</p>
            </div>
          </VueSlickCarousel>
        </div>
        <div class="background absolute right">
          <button @click="showPrev" class="slider-prev-custom"></button>
          <button @click="showNext" class="slider-next-custom"></button>
        </div>
      </div>
    </div>
  </div>

</section>