<div class="UserNav">
  <div class="container">
    <g-link class="UserNav-link" to="/courses">Mis Cursos</g-link>
    <g-link class="UserNav-link profile" to="/profile">
      <div class="photo">
        <span class="badge">3</span>
        <g-image src="~/assets/images/profile-photo.jpg" alt="Perfil" />
      </div>
      <p>Hello, <span>Marry</span></p>
      <span class="desktop">Mi Perfil</span>
    </g-link>
    <g-link class="UserNav-link" to="/memberships">Membresía</g-link>
  </div>
</div>