<section class="PhotosSection">
  <div class="PhotosSection-title">
    <div class="container">
      <h3 class="title-section">FOTOS</h3>
      <p class="subtitle-section">
        Síguenos en nuestras redes sociales
        para que veas las rutinas que compartimos
      </p>
    </div>
  </div>
  <div class="PhotosSection-slider">
    <VueSlickCarousel v-bind="settings" class="slider-photos">
      <div v-for="(image, index) in images" :key="index" class="PhotosSection-slider-item">
        <g-image :src="image" alt="Photo" />
      </div>
    </VueSlickCarousel>
  </div>
</section>