<section class="ProgramsSection" :class="{ 'y-padding': isHomeView }">
  <div class="container">
    <div class="content">
      <div class="content-wrapper">
        <h2 class="title-section">
          {{ title }}
        </h2>
        <h3 class="subtitle-section">
          {{ subtitle }}
        </h3>
        <p class="description dark" v-html="description">
          {{ description }}
        </p>
        <ul v-if="benefits" class="list">
          <li v-for="(benefit, index) in benefits" :key="index">
            {{ benefit }}
          </li>
        </ul>
        <g-link to="/programs"class="g-link secondary">
          {{ buttonText }}
          <g-image src="~/assets/icons/arrow-right.svg" alt="Más información" class="icon-right" />
        </g-link>
      </div>
    </div>
    <div class="images not-container">
      <div class="left">
        <g-image src="~/assets/images/program-left@2x.jpg" alt="Programa de entrenamiento" />
      </div>
      <div class="right">
        <g-image src="~/assets/images/program-right@2x.jpg" alt="Programa de entrenamiento" />
      </div>
      <div class="video">
        <a href="#" target="_blank" rel="noopener noreferrer">
          <div class="background absolute left play yellow"></div>
          <g-image src="~/assets/images/program-video@2x.jpg" alt="Programa de entrenamiento" />
        </a>
      </div>
    </div>
  </div>
</section>