<section class="ProgramsSection" :class="{ 'y-padding': isHomeView }">
  <div class="container">
    <div class="content">
      <div class="content-wrapper">
        <h2 class="title-section">Programas</h2>
        <h3 class="subtitle-section">
          Descubre nuestros programas online
        </h3>
        <p class="description dark">
          Conscientes de la realidad que estamos viviendo, nos estamos
          adaptando a las nuevas necesidades. Por este motivo, hemos
          lanzado unos paquetes de sesiones virtuales, con los cuales
          podrás llega a la mejor versión de tu cuerpo. 
        </p>
        <button class="secondary">
          Más información
          <g-image src="~/assets/icons/arrow-right.svg" alt="Más información" class="icon-right" />
        </button>
      </div>
    </div>
    <div class="images not-container">
      <div class="left">
        <g-image src="~/assets/images/program-left@2x.jpg" alt="Training" />
      </div>
      <div class="right">
        <g-image src="~/assets/images/program-right@2x.jpg" alt="Training" />
      </div>
      <div class="video">
        <a href="#" target="_blank" rel="noopener noreferrer">
          <div class="background absolute left play yellow"></div>
          <g-image src="~/assets/images/program-video@2x.jpg" alt="Training" />
        </a>
      </div>
    </div>
  </div>
</section>