<section class="ProgramsSection" :class="{ 'y-padding': isHomeView }">
  <div class="container">
    <div class="content">
      <div class="content-wrapper">
        <h2 class="title-section">Programas</h2>
        <h3 class="subtitle-section">
          Descubre una nueva
          <br />versión de tu cuerpo
        </h3>
        <p class="description dark">
          Lorem ipsum dolor sit amet,
          consectetur adipiscing elit, sed do
          eiusmod tempor incididunt ut labore
        </p>
        <p class="description">
          Lorem ipsum dolor sit amet, consectetur
          adipiscing elit, sed do eiusmod tempor
          incididunt ut labore et dolore magna aliqua.
          Ut enim ad minim veniam, quis nostrud
        </p>
        <button class="secondary">
          Más información
          <g-image src="~/assets/icons/arrow-right.svg" alt="Más información" class="icon-right" />
        </button>
      </div>
    </div>
    <div class="images not-container">
      <div class="left">
        <g-image src="~/assets/images/program-left@2x.jpg" alt="Training" />
      </div>
      <div class="right">
        <g-image src="~/assets/images/program-right@2x.jpg" alt="Training" />
      </div>
      <div class="video">
        <div class="background absolute left play yellow"></div>
        <g-image src="~/assets/images/program-video@2x.jpg" alt="Training" />
      </div>
    </div>
  </div>
</section>