.YoutubeSection {

  &-video-list {
    margin-top: 3rem;
    padding-left: 1rem;
    padding-right: 1rem;

    &-item {
      position: relative;
      display: flex !important;
      align-items: flex-end;
      width: auto !important;
      height: 308px;
      max-width: 380px;
      margin: 0 0.5rem;
      padding: 1.5rem;
      border-radius: 15px;
      overflow: hidden;

      &-title {
        position: relative;
        z-index: 2;
        line-height: 1.2;
        max-width: 248px;
        color: $white;
        font-size: 22px;
        font-weight: 500;
      }
    }
  }

  @media (min-width: 768px) {
    &-video-list {
      padding-left: 0;
      padding-right: 0;

      &-item {
        height: 352px;
        min-width: 352px;
        max-width: 352px;
      }
    }
  }

}