<section class="YoutubeSection">
  <div class="container">
    <h2 class="title-section">Youtube</h2>
    <h3 class="subtitle-section">
      Mira el contenido
      <br /> que tenemos para ti
    </h3>
    <div class="YoutubeSection-video-list">
      <VueSlickCarousel v-bind="settings">
        <div v-for="({ node }) in $static.videos.edges" :key="node.id" class="YoutubeSection-video-list-item">
          <a :href="node.url" target="_blank" rel="noopener noreferrer">
            <div class="background absolute left play black"></div>
            <div class="background absolute left"
              :style="{ backgroundImage: 'url(http://3.132.165.252:1337' + node.cover.url + ')'  }">
            </div>
            <p class="YoutubeSection-video-list-item-title">
              {{ node.title }}
            </p>
          </a>
        </div>
      </VueSlickCarousel>
    </div>
  </div>
</section>