<section class="PlanList background" :class="{ image: background }">
  <div class="container">
    <h2 class="title-section">{{ title }}</h2>
    <h3 class="subtitle-section white">{{ subtitle }}</h3>
    <div class="plans-list-items">
      <VueSlickCarousel v-bind="settings" class="slider-alt">
        <div v-for="({ node }) in plans" :key="node.id" class="PlanListItem">
          <template v-if="node.name">
            <p class="name">
              {{ node.name }}
            </p>
            <p v-for="(feature, index) in node.features.split('\n')" :key="index" class="feature">
              {{ feature }}
            </p>
            <p v-if="node.price" class="price">
              s/{{ node.price }}
            </p>
            <p v-else class="condition">
              {{ node.condition }}
            </p>
          </template>
          <div v-else class="next">
            <p>
              Más
              <br /> Adelante
            </p>
          </div>
          <g-link to="/programs" class="g-link" :class="node.name ? 'secondary' : 'grey'">
            {{ node.name ? 'Accede ahora' : '¡Proximamente!' }}
            <g-image src="~/assets/icons/arrow-right.svg" alt="Obtener" class="icon-right" />
          </g-link>
        </div>
      </VueSlickCarousel>
    </div>
  </div>
</section>