<header class="Header">
  <div class="brand">
    <g-link to="/">
      <g-image src="~/assets/images/brand/logo@3x.png" width="150px" />
    </g-link>
  </div>
  <div class="menu">
    <div class="menu-item"></div>
    <div class="menu-item"></div>
    <div class="menu-item"></div>
  </div>
  <nav class="nav d-none">
    <g-link class="nav__link" to="/">Home</g-link>
    <g-link class="nav__link" to="/programs">Programs</g-link>
    <g-link class="nav__link" to="/contact">Contact</g-link>
    <g-link class="nav__link" to="/sign-in">Sign in</g-link>
    <g-link class="nav__link" to="/sign-up">Sign up</g-link>
  </nav>
</header>