<footer class="Footer">
  <div class="container">
    <div class="trainer">
      <div class="info">
        <p class="name">Jesús Lezama TRX</p>
        <p class="description">
          Our hotel is an image of quality and
          profesionalism combined with hard work and precision.
          You can expect only the best services from our staff.
        </p>
      </div>
        <a href="#" target="_blank" rel="noopener noreferrer" class="mr-3">
          <g-image src="~/assets/icons/instagram.svg" />
        </a>
        <a href="#" target="_blank" rel="noopener noreferrer">
          <g-image src="~/assets/icons/facebook.svg" />
        </a>
    </div>
    <div class="menu">
      <p class="title">Menú</p>
      <ul>
        <li>
          <g-link to="/">Programa</g-link>
        </li>
        <li>
          <g-link to="/">Planes</g-link>
        </li>
        <li>
          <g-link to="/">Encuentranos</g-link>
        </li>
      </ul>
    </div>
    <div class="contact">
      <p class="title">Contact Info</p>
      <ul>
        <li>
          <g-image src="~/assets/icons/mail.svg" />
          <p>example@yahoo.com</p>
        </li>
        <li>
          <g-image src="~/assets/icons/phone.svg" />
          <p>+0 320 422 4254</p>
        </li>
        <li>
          <g-image src="~/assets/icons/map-pin.svg" />
          <p>Av. El ejercito Miraflores, Lima, Perú</p>
        </li>
      </ul>
    </div>
  </div>
  <div class="copyright">
    <div class="container">
      <p class="url">www.jesuslezamatrx.com</p>
      <p class="rights">Copyright ©2020 All rights reserved | Web made by <span>Ruls Studio</span></p>
    </div>
  </div>
</footer>