<section class="Blog">
  <div class="container">
    <div v-for="(section, index) in sections" :key="index" class="Blog-section">
      <div class="Blog-section-title">
        <h3 class="title-section">{{ section.title }}</h3>
        <p class="subtitle-section">{{ section.description }}</p>
      </div>
      <div class="Blog-section-posts">
        <div v-for="(post, index) in section.posts" :key="index" class="Blog-section-post">
          <g-image class="Blog-section-post-image" :src="post.image" :alt="post.title"></g-image>
          <div class="Blog-section-post-content">
            <p class="Blog-section-post-content-category">{{ post.category }}</p>
            <p class="Blog-section-post-content-title">{{ post.title }}</p>
            <p class="Blog-section-post-content-description">{{ post.description }}</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>