.Blog {
  padding-top: 3rem;

  &-section {
    &:not(:last-child) {
      margin-bottom: 2rem;
    }

    &-title {
      max-width: 540px;
      margin-bottom: 3rem;
    }

    &-posts {
      display: grid;
      grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
      grid-gap: 1rem;
    }

    &-post {
      background-color: $background-light;

      &-image {
        width: 100%;
      }

      &-content {
        max-width: 380px;
        padding: 1.5rem 2rem;
        margin: 0 auto;
        text-align: center;

        &-category {
          color: $secondary;
          font-size: 14px;
          font-weight: 700;
        }

        &-title {
          margin-bottom: 0.5rem;
          font-size: 18px;
          font-weight: 600;
        }

        &-description {
          color: $grey;
          font-size: 14px;
          font-weight: 500;
        }
      }

      &-arrow {
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 1rem;
        background-color: $primary;
      }
    }
  }

  .two {
    .Blog {
      &-section {
        &-post {
          display: flex;

          &-image {
            width: 40%;
          }
  
          &-content {
            width: 100%;
            max-width: none;
            padding: 0.75rem;
            text-align: left;

            &-category {
              font-size: 12px;
            }

            &-title {
              font-size: 14px;
            }

            &-description {
              display: none;
            }
          }
        }
      }
    }
  }

  @media(min-width: 520px) {
    .two {
      .Blog {
        &-section {

          &-posts {
            grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
          }

          &-post {
            &-content {
              width: 100%;
              padding: 1rem;
              text-align: left;
  
              &-category {
                font-size: 12px;
              }
              &-title {
                font-size: 14px;
              }
              &-description {
                display: block;
              }
            }
          }
        }
      }
    }
  }

  @media(min-width: 1024px) {
    .two {
      .Blog {
        &-section {
          &-post {
            &-image {
              width: 40%;
            }
            &-content {
              &-category {
                font-size: 14px;
              }
              &-title {
                font-size: 18px;
              }
            }
          }
        }
      }
    }
  }

}