@media (min-width: 1024px) {
  .dropdown-enter-active,
  .dropdown-leave-active {
    transition: all 0.5s;
  }
  .dropdown-enter,
  .dropdown-leave-to {
    opacity: 0;
    transform: translateY(-10px);
  }
}

@media (max-width: 1024px) {
  .slide-enter {
    transform: translateX(100%);
  }

  .slide-enter-active {
    animation: slide-in 0.3s cubic-bezier(.8, .37, .21, .8) both;
  }

  .slide-in-enter-to {
    transform: translateX(0%);
  }

  @keyframes slide-in {
    0% {
      transform: translateX(100%);
    }

    100% {
      transform: translateX(0%);
    }
  }


  .slide-leave {
    transform: translateX(0%);
  }

  .slide-leave-active {
    animation: slide-out 0.3s cubic-bezier(.8, .37, .21, .8) both;
  }

  .slide-leave-to {
    transform: translateX(100%);
  }

  @keyframes slide-out {
    0% {
      transform: translateX(0%);
    }

    100% {
      transform: translateX(100%);
    }
  }
}