button {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 40px;
    line-height: 20px;
    padding: 10px 24px;
    background-color: $primary;
    color: $black;
    font-size: 13px;
    font-weight: 600;

    .icon {
        &-left {
            margin-right: 8px;
        }
        &-right {
            margin-left: 8px;
        }
    }

    &.secondary {
        height: 50px;
        background-color: $secondary;
    }

    &.grey {
        height: 50px;
        background-color: $background-dark-grey;
    }

    &.black {
        height: 50px;
        border: 3px solid $white;
        background-color: $black;
        color: $white;
    }
}