

.d-none {
    display: none !important;
}

.d-inline-block {
    display: inline-block !important;
}

.d-block {
    display: block !important;
}

.d-flex {
    display: flex !important;
}

.container {
    // width: 100%;
    padding-top: 3rem;
    padding-bottom: 3rem;
    padding-right: 1.5rem;
    padding-left: 1.5rem;
    margin-right: auto;
    margin-left: auto;
}

/*@media (min-width: 576px) {
    .container {
        max-width: 540px;
    }
}*/

@media (min-width: 768px) {
    .container {
        max-width: 720px;
    }
}

@media (min-width: 992px) {
    .container {
        max-width: 960px;
    }
}

@media (min-width: 1200px) {
    .container {
        max-width: 1140px;
    }
}

.background {
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;

    &.blend {
        background-color: rgba($color: $black, $alpha: 0.4);
        background-blend-mode: multiply;
    }
}

input {
    height: 20px;
    line-height: 20px;
    padding: 10px 16px;
    background-color: $background-light-grey;
    color: $grey-text;

    &::placeholder {
        color: $grey-text;
    }
}

button {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 40px;
    line-height: 20px;
    padding: 10px 24px;
    background-color: $primary;
    color: $black;
    font-size: 13px;
    font-weight: 600;

    .icon {
        &-left {
            margin-right: 8px;
        }
        &-right {
            margin-left: 8px;
        }
    }

    &.secondary {
        height: 50px;
        background-color: $secondary;
    }

    &.grey {
        height: 50px;
        background-color: $background-dark-grey;
    }
}

.title-section {
    color: $secondary;
    font-size: 14px;
    font-weight: 700;
    text-transform: uppercase;
}

.subtitle-section {
    line-height: 1.3;
    color: $black;
    font-size: 29px;
    font-weight: 800;
}

.title-section, .subtitle-section {
    &.white {
        color: $white;
    }
}

@media (min-width: 1024px) {
    .title-section {
        font-size: 16px;
    }

    .subtitle-section {
        font-size: 42px;
    }
}