
.slider-prev-custom,
.slider-next-custom {
  position: absolute;
  z-index: 3;
  bottom: 0;
  width: 60px;
  height: 60px;
  background-image: url('~@/assets/icons/arrow-left-slider.svg');
  background-repeat: no-repeat;
  background-position: center center;
}

.slider-prev-custom {
  right: 60px;
  background-image: url('~@/assets/icons/arrow-left-slider.svg');
}

.slider-next-custom {
  right: 0;
  background-color: $white;
  background-image: url('~@/assets/icons/arrow-right-slider.svg');
}

@media (min-width: 1024px) {
  .slider-prev-custom {
    left: -60px;
  }
  
  .slider-next-custom {
    left: 0;
  }
}

.slick-slider.slick-initialized {

  .slick-list {
    .slick-track {
      .slick-active {
        display: flex;
        justify-content: center;
      }
    }
  }

  .slick-prev,
  .slick-next {
    position: absolute;
    z-index: 2;
    top: 50%;
    width: 40px;
    height: 40px;
    line-height: 10px;
    background-color: $secondary;

    &:hover,
    &:focus {
      background-color: $secondary;
    }
  }

  .slick-prev {
    left: 0;
    transform: translate(-50%, -50%);

    &::before {
      content: url('~@/assets/icons/arrow-left-slider.svg') !important;
    }
  }

  .slick-next {
    right: 0;
    transform: translate(50%, -50%);

    &::before {
      content: url('~@/assets/icons/arrow-right-slider.svg') !important;
    }
  }


  &.slider-alt {

    .slick-prev,
    .slick-next {
      background-color: $white;

      &:hover,
      &:focus {
        background-color: $white;
      }
    }
  }

  &.slider-custom {
    position: static;

    .slick-prev,
    .slick-next {
      display: none !important;
    }

    .slick-dots {
      left: 0;
      bottom: 60px;
      padding: 0 3rem;
      text-align: left;

      li {
        margin: 0;

        button {
          &:before {
            font-size: 10px;
            opacity: 1;
            color: #d1d1d1;
          }
        }

        &.slick-active {
          button {
            &:before {
              color: $secondary;
            }
          }
        }
      }
    }
  }

  &.slider-photos {

    .slick-prev,
    .slick-next {
     width: 60px;
     height: 60px;
    }
  
    .slick-prev {
      transform: translate(20px, -50%);
    }

    .slick-next {
      transform: translate(-20px, -50%);
    }

  }

  @media (min-width: 420px) {

    .slick-prev,
    .slick-next {
      width: 60px;
      height: 60px;
    }
  }

  @media (min-width: 768px) {

    .slick-prev,
    .slick-next {
      position: absolute;
      z-index: 2;
      top: 50%;
      width: 60px;
      height: 60px;
      line-height: 10px;
      background-color: $secondary;

      &:hover,
      &:focus {
        background-color: $secondary;
      }
    }
    
    &.slider-photos {
      .slick-prev {
        transform: translate(80px, -50%);
      }
      .slick-next {
        transform: translate(-80px, -50%);
      }
    }
  }

  @media (min-width: 1024px) {
    &.slider-custom {
      position: relative;

      .slick-prev, .slick-next {
        display: none !important;
      }

      .slick-dots {
        padding: 0;
        left: -5px;
        bottom: -40px;
      }
    }
  }

  @media (min-width: 1300px) {
    &.slider-alt {
      .slick-prev {
        left: -48px;
      }

      .slick-next {
        right: -48px;
      }
    }
  }
}