
$white: #fff;
$black: #000;
$grey: #b1b1b1; // #7e7e7e
$grey2: #7e7e7e; 
$dark-grey: #696969;
$grey-text: #a0a0a0; 

$primary: #ffee00;
$secondary: #ebdd21;

$background-dark: #121212;
$background-light-grey: #eee;
$background-dark-grey: #d9d9d9;