.TheInstagramSection {
  position: relative;
  height: 366px;
  display: flex;
  align-items: center;
  margin-top: 2rem;

  .igtv, .igtv-mobile {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
  }

  .igtv {
    display: none;
  }

  .container {
    position: relative;
    z-index: 9;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding-top: 0;
    padding-bottom: 0;
  }

  &-content {
    &-button {
      margin-top: 100px;
      height: 50px;
    }
  }

  @media(min-width: 960px) {
    height: 245px;
    margin-bottom: 2rem;

    .igtv-mobile {
      display: none;
    }

    .igtv {
      display: block;
    }

    .container {
      flex-direction: row;
    }

    &-content {
      max-width: 660px;

      &-button {
        margin: auto;
      }
    }
  }
}