.TheInstagramSection {
  position: relative;
  display: flex;
  align-items: center;
  margin-top: 2rem;
  overflow: hidden;

  .igtv, .igtv-mobile {
    width: 100%;
  }

  .igtv {
    display: none;
  }

  .container {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 9;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: 100%;
  }

  &-content {
    &-button {
      margin-top: 60px;
      height: 50px;
    }
  }

  @media(min-width: 960px) {
    margin-bottom: 2rem;

    .igtv-mobile {
      display: none;
    }

    .igtv {
      display: block;
    }

    .container {
      left: 50%;
      transform: translateX(-50%);
      flex-direction: row;
    }

    &-content {
      max-width: 660px;

      &-button {
        margin: auto;
      }
    }
  }
}