<section class="TheInstagramSection">
  <div class="container">
    <div class="TheInstagramSection-content">
      <h2 class="title-section white">Instagram</h2>
      <h3 class="subtitle-section">
        Tenemos En vivos y IGTV con rutinas que te interesarán
      </h3>
    </div>
    <button class="TheInstagramSection-content-button black">
      Mira su programa
      <g-image src="~/assets/icons/arrow-right-white.svg" alt="Mira su programa" class="icon-right" />
    </button>
  </div>
</section>