<section class="TheInstagramSection">
  <g-image src="~/assets/images/banner-igtv-mobile.jpg" alt="IGTV" class="igtv-mobile" />
  <g-image src="~/assets/images/banner-igtv.jpg" alt="IGTV" class="igtv" />
  <div class="container">
    <div class="TheInstagramSection-content">
      <h2 class="title-section">Instagram</h2>
      <h3 class="subtitle-section white">
        Tenemos En vivos y IGTV con rutinas que te interesarán
      </h3>
      <!-- Síguenos en nuestras redes sociales
        para que veas las rutinas que compartimos-->
    </div>
    <button class="TheInstagramSection-content-button">
      Mira los videos
      <g-image src="~/assets/icons/arrow-right.svg" alt="Mira los videos" class="icon-right" />
    </button>
  </div>
</section>