<section class="InstructorSection">
  <div class="container">
    <div class="background absolute left"></div>
    <div class="content">
      <h2 class="title-section">Instructor</h2>
      <h3 class="subtitle-section">Jesús Lezama</h3>
      <h4 class="subtitle-section light">TRX trainer</h4>
      <p>
        Soy entrenador certificado en el IFBB (International Federation
        of Bodybuilding and Fitness) con 24 años de experiencia en el
        rubro. Me he capacitado en TRX Suspension Training, Pilates
        Suspension Method en Chile y Nueva York (USA). Participo
        activamente en convenciones, la última fue en Austin, Texas
        (USA). Actualmente formo parte de la familia Nike
      </p>
      <button class="secondary">
        Mira su programa
        <g-image src="~/assets/icons/arrow-right.svg" alt="Mira su programa" class="icon-right" />
      </button>
    </div>
  </div>
</section>