<header class="TheHeader">
  <div class="container">
    <div class="TheHeader-brand">
      <g-link to="/">
        <g-image class="TheHeader-brand-image-mobile" src="~/assets/images/brand/logo-mobile.png"
          alt="Jesús Lezama TRX Functional Training" width="120" />
        <g-image class="TheHeader-brand-image-desktop" src="~/assets/images/brand/logo-desktop.png"
          alt="Jesús Lezama TRX Functional Training" width="260" />
      </g-link>
    </div>
    <div @click="isShowing = !isShowing" class="TheHeader-menu">
      <div class="TheHeader-menu-item"></div>
      <div class="TheHeader-menu-item"></div>
      <div class="TheHeader-menu-item"></div>
    </div>
    <transition name="slide">
      <nav v-if="isShowing" class="TheHeader-nav">
        <g-link @click="isShowing = !isShowing" class="TheHeader-nav-link" to="/programs">Programa</g-link>
        <!--<g-link class="TheHeader-nav-link" to="/plans">Planes</g-link>-->
        <g-link class="TheHeader-nav-link" to="/contact">Encuentranos</g-link>
        <div v-if="name" class="TheHeader-user">
          <UserNav class="TheHeader-user-nav"/>
          <div class="TheHeader-user-name">
            <button  @click="showUserMenu = !showUserMenu">
              <span>Hello,</span>
              <span>{{ name }}</span>
            </button>
            <transition name="dropdown">
              <ul v-if="showUserMenu" class="TheHeader-user-menu">
                <li class="TheHeader-user-menu-item">
                  <g-link to="/courses">Mis Cursos</g-link>
                </li>
                <li class="TheHeader-user-menu-item">
                  <g-link to="/profile">Mi perfil</g-link>
                </li>
                <li class="TheHeader-user-menu-item">
                  <g-link class="UserNav-link" to="/memberships">Membresía</g-link>
                </li>
              </ul>
            </transition>
          </div>
        </div>
        <div v-else class="TheHeader-nav-link-yellow">
          <g-link class="TheHeader-nav-link link" to="/sign-in">Inicia Sesión</g-link>
          <g-link class="TheHeader-nav-link link" to="/sign-up">Registrate aquí</g-link>
        </div>
      </nav>
    </transition>
  </div>
</header>